.card .card-img-top{
    width: 15%;
    height: 10%;
    right: 1px;
    position: absolute;
    top: 2%;
}

.bg-info .card-header>a, .bg-danger .card-header>a, .bg-warning .card-header>a{
    color: #fff;
}
